*
{margin: 0;
padding: 0;
}

body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: thin;
    background: linear-gradient(153deg, #EEFDEB 0%, #E5ECFF 100%);
    color: #576677;
}
html {
    scroll-behavior: smooth;
}
#navigation {

    top: 0;
    z-index: 10;
}
.navbar {

    padding: 0 !important;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    display: flex;
    font-size: 42px;
    color: #1c3a60;
    padding: 20px 12px;
    flex-direction: column;
    align-items: flex-start;
}
#main-title a {
    color: #1c3a60;
    color: #1C3A60;
    font-family: Lato;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.navbar-nav  {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 86px;
    
    padding-right: 160px;
}

.navbar-nav li a {
    color: #494C4B !important;
    display: flex;
    padding: 8px 22.97px 7.19px 18px;
    align-items: flex-start;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px; /* 120% */
    flex-direction: column;
    margin-top: 20px;

}

.navbar-nav li a:hover {
    color: #494C4B !important;
    display: flex;
    padding: 8px 22.97px 7.19px 18px;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    text-align: left;
    
    transform: translateY(-10px);
}
.navbar-toggler {
    outline: none !important;
}

/*------------------------------*/
#banner {
    color: black;
    padding-top: 5%;
}
.banner-text {
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 24px;
justify-content: center;
}
.page-title {
    color: #494C4B;
    text-align: center;
    font-family: Lato;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 78.125% */
}
.desc {
    color: #494C4B;
    text-align: center;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 92.308% */
}
.btn-newsletter {
    display: flex;
    padding: 11.5px 28.4px 11.5px 28.6px;
    flex-direction: column;
    align-items: center;
    background: #7FC3CC;
    color: #494C4B;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.2px; /* 130% */
    justify-content: center;
}

#banner a {
    color: black;
    text-decoration: none;
}



#banner-content {
   padding-left: 55px;
}
.baner-img {
    width: 687px;
    height: 441px;
    flex-shrink: 0;
}


#skills-container {
    padding-top: 16%;
    padding-bottom: 16%;
    padding-right: 160px;
    display: flex;
    flex-direction: row;
    width: 1600px;
    justify-content: center;
}

#skills-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
#skill-content {
    width: 702px;
    height: 178px;
    background: white;
}
#skills-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 51px;
    color: black;
    
}


/* ----------------------------------- */


#projects-scroll {
    padding-top: 5rem;
}
#projects {
    color: black;
   
}
#projects h1 {
    font-size: 56px;
}

#projects .title {
    padding-top: 2rem;
}
#projects img {
    width: 320px;
    height: 320px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projects .col-md-4 {
     padding: 20px;
 }
a.disabled {
    pointer-events: none;
    
}

/* -------------------------------- */
#ref-scroll {
    padding-top: 2rem;
}
#talents {
    padding: 16%;
}
.body-img {
    width: 320px;
    height:320px;
    margin-top: 20px;
}
.bd-container {
    padding: 20px;
}
.bd-container h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: lighter;
    
}
#talents .title {
    font-size: 56px;
}


/* --------------------------------------- */




#footer {
    background: #a7c8a3;
    /* background: linear-gradient(135deg, rgba(220,194,234,1) 3%, rgba(251,195,204,1) 42%, rgba(255,215,227,1) 76%, rgba(255,238,226,1) 95%); */
    color: black;
    margin-bottom: 0px;
    border:1px solid transparent;
}

.footer-box {
   padding-top: 20px;
   padding-bottom: 0px;
    font-size: 14px;
}

.footer-box .icon {
    margin-right: 8px;
    font-size: 25px;
    height: 20px;
    width: 20px;
    text-align: center;
    
}

.social-icons img {
    width: 30px;
    transition: 0.5s;
   margin: 0 10px;
}
.social-icons a:hover img {
    transform: translateY(-10px);
}

hr {
    background: white;
}
.copyright {
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
}






  